<!-- Javascript -->
<script src="{{ asset_path }}javascripts/vendor/modernizr-2.7.1.min.js"></script>
<script src="{{ asset_path }}javascripts/vendor/jquery-2.1.0.min.js"></script>
<script src="{{ asset_path }}javascripts/vendor/materialize.min.js"></script>
<script src="{{ asset_path }}javascripts/vendor/chart.min.js"></script>
<script src="{{ asset_path }}javascripts/vendor/HeadsUp.js"></script>
<script src="{{ asset_path }}javascripts/vendor/jquery.mixitup.min.js"></script>
<script src="{{ asset_path }}javascripts/vendor/jquery.smoothState.js"></script>
<script src="{{ asset_path }}javascripts/vendor/jquery.swipebox.min.js"></script>
<script src="{{ asset_path }}javascripts/vendor/masonry.min.js"></script>
<script src="{{ asset_path }}javascripts/vendor/swiper.min.js"></script>
<script src="{{ asset_path }}javascripts/helper.js"></script>
<script src="{{ asset_path }}javascripts/helper.js"></script>
<script src="{{ asset_path }}javascripts/main.js"></script>

<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

<script>
</script>