<!-- Javascript -->
<script src="{{ asset_path }}javascripts/vendor/modernizr-2.7.1.min.js"></script>
<script src="{{ asset_path }}javascripts/vendor/jquery-2.1.0.min.js"></script>
<script src="{{ asset_path }}javascripts/vendor/hammer.min.js"></script>
<script src="{{ asset_path }}javascripts/vendor/materialize.js"></script>
<script src="{{ asset_path }}javascripts/vendor/chart.min.js"></script>
<script src="{{ asset_path }}javascripts/vendor/HeadsUp.js"></script>
<script src="{{ asset_path }}javascripts/vendor/jquery.mixitup.min.js"></script>
<script src="{{ asset_path }}javascripts/vendor/jquery.smoothState.js"></script>
<script src="{{ asset_path }}javascripts/vendor/jquery.swipebox.min.js"></script>
<script src="{{ asset_path }}javascripts/vendor/masonry.min.js"></script>
<script src="{{ asset_path }}javascripts/vendor/swiper.min.js"></script>
<script src="{{ asset_path }}javascripts/vendor/fontawesome.js"></script>
<script src="{{ asset_path }}javascripts/vendor/everything.min.js"></script>
<script src="{{ asset_path }}javascripts/helper.js"></script>
<script src="{{ asset_path }}javascripts/main.js"></script>
<script>
    
$(document).ready(function(){
    
    
// Adding strict mode
"use strict";

// This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026
(function(a, b, c) {
	if (c in b && b[c]) {
		var d, e = a.location,
			f = /^(a|html)$/i;
		a.addEventListener("click", function(a) {
			d = a.target;
			while (!f.test(d.nodeName)) d = d.parentNode;
			"href" in d && (d.href.indexOf("http") || ~d.href.indexOf(e.host)) && (a.preventDefault(), e.href = d.href)
		}, !1)
	}
})(document, window.navigator, "standalone")
    
    
        $('.carousel.carousel-slider').carousel({fullWidth: false, padding: 0, dist: -100, noWrap:true});
        $('.parallax').parallax();
    

    
    $("#menu-selector").click(function(e){
        e.preventDefault();
        $("#menu-selector-list").fadeIn();
    })
    
    $("#menu-filter").click(function(e){
        e.preventDefault();
        $("#menu-filter-list").fadeIn();
    })     

    
    
$("#menu-filter-list").click(function(e){
    //alert("hi");
    e.preventDefault();
    console.log("fade out")
    $(this).fadeOut();
    
});
    
$("#menu-selector-list").click(function(e){
    //alert("hi");
    e.preventDefault();
    console.log("fade out")
    $(this).fadeOut();
    
});    
   
    
});


    
</script>