{% extends "layout.html" %}

{% block page_title %}
  PopMenu UX
{% endblock %}

{% block content %}

    {% block body_start %}{% endblock %}
      <main>
          <div class="page">
      <div class="row">
            <div class="container">
            <div class="col s12">
                          <h1>
            PopMenu wire prototype
          </h1>
          <a href="menu.html" class="btn">Start</a>
                <br>
                <br>
          <p>Tests you can do on this prototype</p>
          
          <ul>
            <li>Find the rib plate dish</li>
            <li>Change menu</li>
            <li>Find a vegetarian dish (filter)</li>
            <li>Share the rib plate dish</li>
            <li>Leave a review of the dish</li>
          </ul>
                </div>
          </div>
          </div>
</div>
          
      </main>
    {% block body_end %}{% endblock %}
{% block footer %}{% endblock %}
{% endblock %}
