{% extends "layout.html" %}

{% block page_title %}
  PopMenu UX
{% endblock %}

{% block content %}


    {% block body_start %}{% endblock %}

        
 <!-- Main Container -->
    <div id="main" class="main grey lighten-3">

   <!-- Toolbar -->
      <div id="toolbar" class="primary-color z-depth-1">
        <div class="open-left" >
            <a href="menu.html">
          <i class="fa fa-arrow-left"></i>
                </a>
        </div>
        <h1 class="title">Menu</h1>
        <div class="open-right" id="open-right" data-activates="slide-out">
        </div>
      </div>
      <!-- End of Toolbar -->

    <!-- Page Contents -->
      <div class="page animated fadeinup">
        
        <!-- Hero Header -->
        <div class="hero-header animated fadein">
          <!-- Slider -->         
          <div class="swiper-container swiper-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="product.html"><img src="/public/images/ribs.jpg" height="300" alt=""></a>
              </div>
              <div class="swiper-slide">
                <a href="product.html"><img src="/public/images/macncheese.png"  height="300"  alt=""></a>
              </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
          </div>
          <!-- End of Slider -->

          <!-- Floating Action Button -->
          <div class="floating-button animated bouncein delay-3">
            <a href="#" class="btn-floating btn-large waves-effect waves-light accent-color btn z-depth-3">
              <p>$17.99</p>
            </a>
                             <div class="black-text" style="    top: 60px;    position: absolute;    width: 80px;">132 pops</div>

          </div>
        </div>

        <!-- Product Title -->
        <div class="center-align p-20 white">
          <h3 class="m-0"><strong>Rib Plate</strong></h3>
          <span class="small grey-text">Plate</span>
        </div>
      
        <!-- Prduct Description -->
        <div class="product-description">
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#product1">Overview</a></li>
            <li class="tab col s3"><a href="#product2">Photos</a></li>
            <li class="tab col s3"><a href="#product3">Reviews</a></li>
          </ul>
          
          <div id="product1" class="p-20">
            <p class="text-flow">It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
          </div>
          <div id="product2" class="p-20">
        <div class="grid m-t-20">
          <div class="grid-item">
            <a href="/public/images/P10360-136-Final-Web-Use-JPG-783x522.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
              <img src="/public/images/P10360-136-Final-Web-Use-JPG-783x522.jpg" alt="image">
            </a>
          </div>
          <div class="grid-item">
            <a href="/public/images/P10360-136-Final-Web-Use-JPG-783x522.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
              <img src="/public/images/macncheese.png" alt="image">
            </a>
          </div>
          <div class="grid-item">
            <a href="/public/images/P10360-136-Final-Web-Use-JPG-783x522.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
              <img src="/public/images/macncheese.png" alt="image">
            </a>
          </div>
          <div class="grid-item">
            <a href="/public/images/P10360-136-Final-Web-Use-JPG-783x522.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
              <img src="/public/images/briscuit.png" alt="image">
            </a>
          </div>
          <div class="grid-item">
            <a href="/public/images/P10360-136-Final-Web-Use-JPG-783x522.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
              <img src="/public/images/Humble-Onion-Rings-783x522.jpg" alt="image">
            </a>
          </div>
          <div class="grid-item">
            <a href="/public/images/P10360-136-Final-Web-Use-JPG-783x522.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
              <img src="/public/images/chips-783x522.jpg" alt="image">
            </a>
          </div>
          <div class="grid-item">
            <a href="/public/images/P10360-136-Final-Web-Use-JPG-783x522.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
              <img src="/public/images/hotdog.jpg" alt="image">
            </a>
          </div>
          <div class="grid-item">
            <a href="/public/images/P10360-136-Final-Web-Use-JPG-783x522.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
              <img src="/public/images/IMG_8220-01-523x522.png" alt="image">
            </a>
          </div>
          <div class="grid-item">
            <a href="/public/images/P10360-136-Final-Web-Use-JPG-783x522.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
              <img src="/public/images/LittlePlatter-522x522.png" alt="image">
            </a>
          </div>
          <div class="grid-item">
            <a href="/public/images/P10360-136-Final-Web-Use-JPG-783x522.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
              <img src="/public/images/bryan-furman.jpeg" alt="image">
            </a>
          </div>
        </div>
          </div>
            <div id="product3" class="p-20">
        <div class="chat">
          <ul>
            <li class="message-right animated fadeinright">
              <img alt="" src="/public/images/user.jpg">
              <div class="message">
                <p>Amazing dish would recommend to anyone
                </p>
              </div>
            </li>
              <li class="message-right animated fadeinright">
              <img alt="" src="/public/images/user.jpg">
              <div class="message">
                <p>Delish, awesome
                </p>
              </div>
            </li>
              <li class="message-right animated fadeinright">
              <img alt="" src="/public/images/user.jpg">
              <div class="message">
                <p>These ribs are glazed perfectly and they give you those lemon wipes to clean up after i love those
                </p>
              </div>
            </li>
          </ul>
        </div>
          </div>
        </div>
        
      
          <div class="row black">
            <div class="col s12">
                          
<div class="black">
    <br>
    <div class="container">               
    <h4 class="heading white-text">Goes well with</h4>
        <h5 class="grey-text lighten-4">Try these complimentary items</h5>
</div>
     <div class="carousel carousel-slider center" data-indicators="true">

        
<div class="carousel-item" href="#one!">
       <div class="container">
<div class="product">
<div class="row">
       
        <div class="col s12">
            <div class="card darken-1">
                                        <div class="card-image waves-effect waves-block waves-light">
    <div style="    background: url(/public/images/fries.jpg);
    height: 20vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0 auto;"></div>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h2 class="header">Fries</h2>
                    <p>Not just any old fries, these fries are laden with cheese, jalapenos and mince </p>
                </div>
            </div>
          </div>
           </div>
       </div>
          </div>
           </div>
  </div>       
    <div class="carousel-item" href="#two!">
       <div class="container">
<div class="product">
<div class="row">
       
        <div class="col s12">
            <div class="card darken-1">
                                        <div class="card-image waves-effect waves-block waves-light">
    <div style="background: url(/public/images/Humble-Cornbread-783x522.jpg);
    height: 20vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0 auto;"></div>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h2 class="header">Cornbread</h2>
                    <p>Humble and filling, compliments any dish</p>
                </div>
            </div>
          </div>
           </div>
       </div>
          </div>
           </div>
       </div>

     
        </div>
   
</div>
          
              </div>
          </div>
          
      </div> 
        
        
                
        <!-- options bar -->
                  <div class="primary-color z-depth-4" id="action-bar">
            <div class="row">
                <div class="col s4 center-align"><i class="fa fa-camera-alt fa-3x"></i><p>Add photo</p></div>
                <div class="col s4 center-align" id="main-pop"><i class="fa fa-thumbs-up fa-5x"></i><p>Like this dish</p></div>
                <div class="col s4 center-align"><i class="fa fa-plus-circle fa-3x"></i><p>Save dish</p></div>
              </div>
          </div>
      <!-- End of Page Contents -->

      <!-- Sidebars -->
      <!-- Left Sidebar -->
        {% include "includes/leftsidebar.html" %}

      <!-- Right Sidebar -->

      <!-- End of Sidebars -->
        
    </div>
    <!-- End of Main Container -->
    
          
<!-- full screen panels -->

    {% block body_end %}{% endblock %}
{% block footer %}{% endblock %}
{% endblock %}
