{% extends "layout.html" %}

{% block page_title %}
  PopMenu UX
{% endblock %}

{% block content %}


    {% block body_start %}{% endblock %}

        
 <!-- Main Container -->
    <div id="main" class="main">

   <!-- Toolbar -->
      <div id="toolbar" class="primary-color z-depth-1">
        <div class="open-left" id="open-left" data-activates="slide-out-left">
          <i class="ion-android-menu"></i>
        </div>
        <h1 class="title">Menu</h1>
        <div class="open-right" id="open-right" data-activates="slide-out">
        </div>
      </div>
      <!-- End of Toolbar -->

      <!-- Page Contents -->
      <div class="animated fadeinup">
        
        
          <!-- welcome to our menu -->
       <div class="event-header bg-1">
        <div class="opacity-overlay"></div>
          <div class="bottom p-20">
            <div class="animated fadeinup delay-2">
              <h3 class="title white-text">Our Menu</h3>
              <p class="white-text m-0">It ain't just Bryan Furman's legendary pit-chicken on the mneu today.</p>
            </div>
          </div>
        </div>
          

          <!-- top five dishes -->
          
          <div class="swiper-container steps swiper-container-horizontal">
          <div class="swiper-wrapper slider-steps">

              <div class="swiper-slide white">
              <div class="valign-wrapper p-20">
                <div class="valign center-align">
               <div class="gallery-item-card">
            <a href="images/v1.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
              <img src="/public/images/P10360-187-Final-Web-Use-JPG-348x522.png" alt="image" style="width:80vw; height: auto;">
              <div class="gallery-item-header">
                <div class="gallery-item-author">
                  <span>The Rib Plate</span>
                  <span class="small">Beef rib and 1/4 smoked sticky chicken with Unholy BBQ sauce</span>
                </div>
              </div>
            </a>
          </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide white">
              <div class="valign-wrapper p-20">
                <div class="valign center-align">
               <div class="gallery-item-card">
            <a href="images/v1.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
              <img src="/public/images/P10360-187-Final-Web-Use-JPG-348x522.png" alt="image" style="width:80vw; height: auto;">
              <div class="gallery-item-header">
                <div class="gallery-item-author">
                  <span>The Rib Plate</span>
                  <span class="small">Beef rib and 1/4 smoked sticky chicken with Unholy BBQ sauce</span>
                </div>
              </div>
            </a>
          </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide white">
              <div class="valign-wrapper p-20">
                <div class="valign center-align">
               <div class="gallery-item-card">
            <a href="images/v1.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
              <img src="/public/images/P10360-187-Final-Web-Use-JPG-348x522.png" alt="image" style="width:80vw; height: auto;">
              <div class="gallery-item-header">
                <div class="gallery-item-author">
                  <span>The Rib Plate</span>
                  <span class="small">Beef rib and 1/4 smoked sticky chicken with Unholy BBQ sauce</span>
                </div>
              </div>
            </a>
          </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide white">
              <div class="valign-wrapper p-20">
                <div class="valign center-align">
               <div class="gallery-item-card">
            <a href="images/v1.jpg" class="swipebox no-smoothState" title="This is dummy caption.">
              <img src="/public/images/P10360-187-Final-Web-Use-JPG-348x522.png" alt="image" style="width:80vw; height: auto;">
              <div class="gallery-item-header">
                <div class="gallery-item-author">
                  <span>The Rib Plate</span>
                  <span class="small">Beef rib and 1/4 smoked sticky chicken with Unholy BBQ sauce</span>
                </div>
              </div>
            </a>
          </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Add Pagination -->
          <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>


        </div>
          
          
          <!-- make a reservation -->
        <div class="container" id="reservation">
 <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Make a reservation</span>
              <p>Don't be dissapointed, make a free reservation now to reserve your table.</p>
            </div>
            <div class="card-action">
              <a href="#">Book a table</a>
            </div>
          </div>
        </div>
      </div>
        </div>
          
          <!-- main menu area -->
          
          
          <section id="appetizers" class="container">
            <div class="row">
                <div class="col s12">
                    <h3>Appetizers</h3>  
                </div>
            </div>
              
                    <div class="row">
        <div class="col s12 m6">
          <div class="card darken-1">
            <div class="card-content">
              <span class="card-title">Fried pickles <i class="ion-android-more-vertical right"></i></span>
              <p>$4.99</p>
                  <div class="chip right">
                      <i class="ion-leaf"></i><span class="sr-only">vegetarian dish</span>
        </div>
 
            </div>
          </div>
        </div>
      </div>
              
                 
                    <div class="row">
        <div class="col s12 m6">
          <div class="card darken-1">
            <div class="card-content">
              <span class="card-title">Pork skins <i class="ion-android-more-vertical right"></i></span>
              <p>$4.99</p>
                  <div class="chip right">
                      <i class="ion-leaf small"></i><span class="sr-only">vegetarian dish</span>
        </div>
 
            </div>
          </div>
        </div>
      </div>           
                    <div class="row">
        <div class="col s12 m6">
          <div class="card darken-1">
            <div class="card-content">
              <span class="card-title">Jalapeno bottle caps <i class="ion-android-more-vertical right"></i></span>
              <p>$4.99</p>
                  <div class="chip right">
                      <i class="ion-leaf small"></i><span class="sr-only">vegetarian dish</span>
        </div>         <div class="chip right">
                      <i class="ion-fireball small"></i><span class="sr-only">spicy dish</span>
        </div>
 
            </div>
          </div>
        </div>
      </div>
          
              
 <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <h2 class="header">6 piece chicken wings</h2>
          <p>Smoke wings lightly tossed in our signature BBQ sauce.</p>
        </div>
    
      </div>
    </div>
  </div>              
              
          </section>

        <!-- Footer -->
        <footer class="page-footer primary-color">
          <div class="section center">
            <h2 class="heading white-text">Shuttle</h2>
            <p class="center-align grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            <div class="footer-icons">
              <i class="ion-social-facebook m-10 white-text"></i>
              <i class="ion-social-twitter m-10 white-text"></i>
              <i class="ion-social-pinterest m-10 white-text"></i>
              <i class="ion-social-instagram m-10 white-text"></i>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container center">
              <span>Made with <i class="ion-ios-heart"></i> by Codnauts</span>
            </div>
          </div>
        </footer>
      
      </div> 
      <!-- End of Page Contents -->

      <!-- Sidebars -->
      <!-- Left Sidebar -->
        {% include "includes/leftsidebar.html" %}

      <!-- Right Sidebar -->

      <!-- End of Sidebars -->
        
    </div>
    <!-- End of Main Container -->
    
          
    {% block body_end %}{% endblock %}
{% block footer %}{% endblock %}
{% endblock %}
